@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-border: var(--border);

  --font-sans: var(--font-sora);
  --font-mono: ui-monospace, monospace;

  --radius-md: var(--radius-md);
  --radius-sm: var(--radius-sm);
}

:root {
  --background: #ffffff;
  --foreground: #1c1d1d;

  --primary: #e8e8e8;
  --primary-foreground: #494a4a;

  --secondary: #f4f4f4;
  --secondary-foreground: #8d8e8e;

  --border: #e3e3e3;

  --radius-md: 16px;
  --radius-sm: 8px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  ::selection {
    background-color: var(--primary-foreground);
    color: var(--background);
  }

  :focus-visible {
    outline: 1px dashed var(--foreground);
    outline-offset: 2px;
  }
}

@layer components {
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.35s cubic-bezier(0.32, 0.72, 0, 1);
  }

  .animate-accordion-up {
    animation: accordion-up 0.35s cubic-bezier(0.32, 0.72, 0, 1);
  }
}
